<html ng-app>
<head><title>Wordreference It ! Options</title></head>
<script src="angular.min.js"></script>
<script src="underscore-min.js"></script>
<script src="settings.js"></script>
<body ng-controller="MainController">
	<p>I want to translate
		<select id="source" ng-options="k as v for (k, v) in sourceLang" ng-model="src">
		</select>
		into
		<select id="destination" ng-options="k as v for (k, v) in destinationLang" ng-model="dst">
			<option ng-show="dst == null" value="null">Choose a language</option>
		</select>
	</p>

	<br>
	<div id="status"></div>
	<button id="save" ng-click="saveOptions()">Save</button>
	</body>
</html>